@media screen and (max-width: 700px) {

  .slideshow {
      background-image: url('../../images/video-cover-for-mobile.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      #bottomRightCorner, #topLeftCorner {
          width: 70%;
      }     

      .logo {
          left: 20px;
          top: 25px;
          width: 34%;
          max-width: none;
      }     

      #top_video {
        display: none;
      }  

      #intro-title {
        width: 85%;
        text-align: center;   
        
        img {
          width: 75%;          
        }     
      }
  }

}

// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {

  .fixed-action-btn {
    bottom: 90px !important;

    &.mobile-menu {
      display: block;
    }
  
  }

  .center-content {
    display: block;
  }

  .white-background {
    padding: 20px 0;
  }

  .page {
    .page__title {
      font-size: 30px;
    }
  }

  .package {
    .package__price {
      margin-top: 20px;
      text-align: center;
    }
  }   

  #billing-form {
    .padding-right-20 {
      padding-right: 0 !important;
    }

    .padding-left-20 {
      padding-left: 0 !important;
    }

    .order {
      margin-top: 30px;
    }
  }


} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */