.home {
	.white-background {
		.col {
			margin-bottom: 0 !important;
		}
	}
	.home__message {
	    padding: 0 20px;
		.home__message__title {
			font-size: 26px !important;
		}	
	}

	.featured__package__title {
		font-size: 30px;
		text-align: center;
		margin-bottom: 30px;
	}

	.home__package {
		position: relative;
		a {
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
		}
		.home__package__title {
			font-size: 18px;
			bottom: 0px;
			right: 0;					
			padding: 0px 10px;
			position: absolute;
		}
	}
}

.page {
	.page__title {
		font-size: 30px;
	}

	.page__description {
		h3 {
			font-size: 2rem;
		}
	}
}