
$blue: #328fcc;
$yellow: #fdc70e;

.yellow {
	background: $yellow !important;
	background-color: $yellow !important;
	color: black;
}

.blue {
	background: $blue !important;
	background-color: $blue !important;
}