@import 'components/variables';
@import 'components/helpers';

$themeFont: 'Montserrat';

body {
	background-color: #f5f5f5;
	color: #333;
	font-family: $themeFont;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $themeFont;
}

a {
	&.btn {
		&:hover, &:focus {
			color: white;
			text-decoration: none;
		}
	}
}

header {

	a {
		font-size: 1em;
		&:hover {
			color: white;
			text-decoration: none !important;
		}
	}

}

.package {

	.package__title {
	    font-size: 40px;
	    margin-bottom: 20px;
	}

	.package__price {
		color: #333;
		font-size: 50px;	
		font-weight: bold;
	    margin-top: 0;
	    margin-bottom: 0;
	    span {
	    	font-size: 20px;
	    }
	}

	.package__description {
		h3 {
			font-size: 2rem;
		}

		ul {
			margin-left: 20px;
			li {
				list-style: disc;
			}
		}
	}

	.package__related {
		.package__related__title {
			font-size: 2rem;
		}
	}
}

.book-a-package-form {
	.book-a-package-form__title {
	    font-size: 18px;
	    font-weight: bold;
	    text-transform: uppercase;
	}
}

.card {

	.card-content {
		.card-title {
			font-size: 16px;
			line-height: 21px;
		}
	}

	.card-reveal {
		.card-title {
			font-size: 16px;
			font-style: italic;
			margin-bottom: 10px;
		}
	}
}


/** Shopping Cart Table **/
.cart {

	img {
		float: left;
		margin-right: 20px;
	}

	.cart__package {

		.cart__package__title {
			margin-top: 0;
			font-size: 20px;

			a {
				&:hover {
					text-decoration: none;
				}
			}
		}

		.cart__package__description {
			font-size: 14px;
		}
	}
}

.orders {

	.orders__title {
		a {
			color: #aaa;
		}
	}
	.order {
		display: flex;
	    margin-bottom: 20px;
	    padding-bottom: 20px;	

		.order__image {
			margin-right: 10px;
		}

		.order__title {
			font-size: 16px;
			margin-top: 0;
		}

		.order__price {
		    font-size: 18px;
		    font-weight: bold;		
		}
	}

	.orders__total {
		font-weight: bold;
		text-align: center;
	}	
}

.parallax {
	display: flex;
	align-items: center;
	align-content: center;	

	img {
		z-index: -1;
	}

	.parallax__title {
		margin-top: 0;
	}

	.white-transparent {
		background: rgba(255,255,255,0.8);
		padding: 20px;
	}
}

.place-order-button {
	margin-top: 30px;
}

.cvc {
	float: right;
	margin-top: -7px;
}

.input-container {
	position: relative;
	i {
		color: #d3d3d3;
		width: 25px;
		height: 30px;
		line-height: 30px;
		font-size: 16px;
		position: absolute;
		top: 2px;
		right: 2px;
		cursor: pointer;
		text-align: center;		
	}
}

.input-with-price {
	position: relative;

	span {
	    position: absolute;
	    color: #ddd;
	    top: 7px;
	    right: 10px;	

	    &.current-currency {
			font-size: 10px;
			position: relative;
			top: 0;
			right: 0;
	    }	
	}
}

.current-currency {
	font-size: 10px;
}	

footer {
	background: $yellow;
	padding: 20px;
	margin-top: 50px;

	.footer__title {
		color: black;
		font-size: 20px;
	}

	.footer__links {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		li {
			a {
				color: black;
				font-size: 13px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

[class^="icon-"], [class*="icon-"] {
  display: inline-block;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;
}


@import 'components/page';
@import 'components/overwrite';
@import 'components/media-queries';